PharmApp/Web References/DrugsInfo/readdrugsinfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetData">
        <s:complexType />
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult" type="tns:ArrayOfExcelData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfExcelData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ExcelData" nillable="true" type="tns:ExcelData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExcelData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PersianName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnglishName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommercialName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PercentageTotalSolidity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DimensionalChangeCoefficient" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PercentageCohesion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AverageMoistureContentGreenWood" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SpecificGravityMoisture" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Des" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ReadDrugsInfoSoap">
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReadDrugsInfoSoap" type="tns:ReadDrugsInfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReadDrugsInfoSoap12" type="tns:ReadDrugsInfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReadDrugsInfo">
    <wsdl:port name="ReadDrugsInfoSoap" binding="tns:ReadDrugsInfoSoap">
      <soap:address location="http://physicalproperties.ir/readdrugsinfo.asmx" />
    </wsdl:port>
    <wsdl:port name="ReadDrugsInfoSoap12" binding="tns:ReadDrugsInfoSoap12">
      <soap12:address location="http://physicalproperties.ir/readdrugsinfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>